body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto auto;
    margin: 0px;
}


header, aside, main {
    padding: 24px;
}
h1, h2, h3, p{
    font-family: 'Work Sans', sans-serif;
    width: fit-content;
}
h1{
    font-size: 1.424rem;
}
h2{
    font-size: 1.266rem;
    margin: 0.6em 0em 0.6em 0em;
}
h3{
    font-size: 1.125rem;
    margin: 0.4em 0em 0.4em 0em;
}
p{
    font-size: 1rem;
    margin: 0.2em 0em 0.2em 0em;
}


header {
    background-color: #E3E4DF;
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
header .top, header .bottom {
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
}
header .top {
    grid-template-columns: 1fr 12fr 1fr 1fr 3fr;
}
header .bottom{
    grid-template-columns: 2fr 8fr 2fr 2fr 2fr;
}
header input[type=text]{
    all: unset;
    background: #A99B91;
    border-radius: 18px;
    padding: 8px;
    justify-self: start;
    border: solid 1px black;
    width: 80%;
    font-family: 'Work Sans', sans-serif;
}
::placeholder {
  color: black;
  opacity: 1; /* Firefox */
}
header .top img{
    justify-self: end;
}
header .bottom h2{
    justify-self: start;
}
header button{
    all: unset;
    padding: 4px 8px;
    border: solid 1px black;
    border-radius: 20px;
    width: 60%;
    text-align: center;
    background-color: #A5B36C;
    font-family: 'Work Sans', sans-serif;
}


aside {
    background-color: #A5B36C;
    grid-row: 1/-1;
    display: grid;
    grid-gap: 20px;
    justify-content: start;
    align-content: start;
}
aside .cell{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    grid-gap: 16px;
}

.card, .announcements, .trending{
    border: solid black 1px;
}

main {
    background-color: #A99B91;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap: 24px;
}
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    gap: 24px;
}
.projects .card {
    display: grid;
    gap: 32px;
    padding: 24px;
    background-color: #E3E4DF;
    background-image: linear-gradient(to right, #C86751 10px , #E3E4DF 0px);;
    border-radius: 8px;
}
.card .icons {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    gap: 8px;
}

.updates{
    display: grid;
    gap: 24px;
}
.announcements, .trending {
    background: #E3E4DF;
    border-radius: 8px;
    padding: 24px;
    display: grid;
    gap: 16px;
}
.line {
    height: 1px;
    background-color: lightgray;
    width: 100%;
}

.trending div{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.trending div div{
    display: flex;
    flex-direction: column;
}

img { 
    height: 50px;
    border-radius: 50%;
    border: solid black 1px;
}
.bottom img {
    height: 80px;
}



aside h2:hover{
    color:#E3E4DF;
}
span.material-symbols-outlined{
    padding: 4px;
    border-radius: 50%;
    transition: ease-in-out 200ms;
}
header span.material-symbols-outlined:nth-of-type(2):hover, .card span.material-symbols-outlined:hover{
    background: #A99B91;
}
header button, aside h2{
    transition: ease-in-out 200ms;
}
header button:hover {
    transform: scale(1.1);
}